PRINTER_NAME=TSC TDP-245
PRINTER_SHARE=TSC
PORT=9317
API_TOKEN=/goY5ZR61YkMCR4uKCZJyr/tQGB08hySTthp2FDXHGQ=
PRINTER_MODE=raw
ALLOWED_ORIGINS=https://icomanda.com,https://www.icomanda.com,http://localhost,http://127.0.0.1
BRIDGE_NAME=icomanda-bridge

